#tweetCol{
    border-radius: 100px;
    border: 2px solid dodgerblue;
    padding: 20px;
    height: 300px;
    background: dodgerblue;
    
}

#userCol{
    background: white;
    border-radius: 100px;
    border: 2px solid dodgerblue;
    padding: 20px;
    height: 300px;
}

table{
    width:100%;
}